body {
	font-size: small; 
	font-family: Georgia, 'Times New Roman';
  font-style: normal;
  color:#444444;
  line-height: 1.9em;

}

h1, h2 {
	color: #007e7e; 
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

.guarantee {
  border-color:         white;
  border-width:        1px;
  border-style:        dashed;
  background-color:    #a7cece;
  padding:             25px; /* 新增内边距 */
  margin:              30px;  /* 新增外边距 */
  background-image: url(images/background.gif);/*添加图片*/
  background-repeat: no-repeat;/*图片是否重复*/
  background-position: top left;/*图片位置左上*/

}

.elixirs {
  border-width: thin;
  border-style: solid;
  border-color: #007e7e;
  width: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
  text-align: center;/*文本居中对齐*/
  line-height: 1;
  
}


div>h2 {
  color: black;
}

.footer {
  font-size:    .5em;
  text-align:   center;
  line-height:  normal;
  margin-top: 30px;
}

.cd {
  font-style: italic;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
}


.artist {
  font-weight: bold;/*字体*/
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
}

.elixirs a:link {
  color: #007e7e;
}

.elixirs a:visited {
  color: #333333;
}

.elixirs a:hover {
  background: #f88396;
  color: #0d5353;
}
