body {
	font-size: small; 
	font-family: Georgia, 'Times New Roman';
  font-style: italic;
  color:#444444;
  line-height: 1.9em;

}

h1, h2 {
	color: #007e7e; 
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

.guarantee {
  border-color:        white;
  border-width:        1px;
  border-style:        dashed;
  background-color:    #a7cece;
  padding:             25px; /* 新增内边距 */
  padding-left:        80px;/*左内边距*/
  margin:              30px;  /* 新增外边距 */
  margin-right:        250px;/*右外边距*/
  background-image: url(images/background.gif);/*添加图片*/
  background-repeat: no-repeat;/*图片是否重复*/
  background-position: top left;/*图片位置左上*/
  
}
