.left {
	margin-right: 10px;
}

.right {
	margin-left: 20px;
}

.ruler {
	display: inline-block;
	width: 30px;
}




.right {
	float: right;
}

div.block {
	width: 45vw;
	height: 20vh;
	border: 2px solid black;
}

.top {
	margin-bottom: 10px;
}

.bottom {
	margin-top: 20px;
}

.ruler {
	height: 20px;
}



.a {
  background-color: brown;
  width: 45vw;
  height:20vh;
}
.b {
  background-color:blue;
  width: 20vw;
  height: 10vh;
}



.float-block {
	width: 20px;
	float: right;
}
